
.icon-home:before { content: '\61'; } /* 'a' */
.icon-movie:before { content: '\62'; } /* 'b' */
.icon-newspaper:before { content: '\63'; } /* 'c' */
.icon-user:before { content: '\64'; } /* 'd' */
.icon-facebook:before { content: '\65'; } /* 'e' */
.icon-instagram:before { content: '\66'; } /* 'f' */
.icon-youtube-play:before { content: '\67'; } /* 'g' */
.icon-off:before { content: '\68'; } /* 'h' */
.icon-play:before { content: '\69'; } /* 'i' */
.icon-right:before { content: '\6a'; } /* 'j' */
.icon-search:before { content: '\6b'; } /* 'k' */
